<div class="page-container">

    <header class="content-header">
        <div class="title-group">
            <h1>My Bookings</h1>
        </div>

        <app-dropdown [label]="'Status'" [options]="statusOptions" [selectedValue]="selectedStatus"
            (onSelect)="handleStatusFilter($event)">
            <app-icon-status></app-icon-status>
            <span trigger-icon class="material-icons-outlined">⛶</span>

        </app-dropdown>
    </header>

    <div class="table-section">
        <app-reusable-table [columns]="bookingColumns" [data]="filteredData" (viewAction)="onBookingView($event)">
        </app-reusable-table>
    </div>

    <footer class="pagination-footer">
        <div class="pagination-info">
            Showing {{ filteredData.length }} results
        </div>
        <div class="pagination-controls">
            <button class="pg-btn">‹ Previous</button>
            <div class="page-numbers">
                <button class="num-btn">1</button>
                <button class="num-btn active">2</button>
                <button class="num-btn">3</button>
                <span class="dots">...</span>
            </div>
            <button class="pg-btn">Next ›</button>
        </div>
    </footer>

</div>