<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th class="cell-checkbox"><input type="checkbox"></th>
        <th *ngFor="let col of columns">{{ col.label }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data">
        <td class="cell-checkbox">
          <input type="checkbox">
        </td>

        <td *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.type">

            <span *ngSwitchCase="'category'" class="badge-category">
              {{ row[col.key] }}
            </span>

            <span *ngSwitchCase="'badge'" [class]="'badge-status ' + row[col.key].toLowerCase()">
              {{ row[col.key] }}
            </span>

            <button *ngSwitchCase="'action'" (click)="viewAction.emit(row)" class="btn-view">
              👁 View
            </button>

            <span *ngSwitchDefault>{{ row[col.key] }}</span>

          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>