<nav class="navbar">
  <div class="nav-left">
    <app-breadcrumb></app-breadcrumb>
  </div>

  <div class="nav-right">
    <div class="actions">
      <button class="icon-btn" aria-label="Chat">
        <img src="../assets/icons/bell.svg" width="20" height="20" alt="Bell Icon">
      </button>
      <button class="icon-btn" aria-label="Notifications">
        <app-icon-bell [size]="20" class="icon"></app-icon-bell>
      </button>
    </div>

    <div class="user-profile">
      <div class="avatar">
        <span>K</span>
      </div>
    </div>
  </div>
</nav>